doctype html
html
  script(src='/socket.io/socket.io.js')
  script(src='/js/peer.min.js')
  script(src="js/jquery.js")
  script(src="js/uikit.min.js")
  script(src="js/components/notify.min.js")
  script(src="js/components/parallax.min.js")
  script(src="js/components/nestable.min.js")
  script(src="js/components/tooltip.min.js")
  head
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    link(rel="stylesheet" href="css/uikit.min.css")
    link(rel="stylesheet" href="css/components/notify.min.css")
    link(rel="stylesheet" href="css/components/nestable.min.css")
    link(rel="stylesheet" href="css/components/tooltip.min.css")
    title title
  body
    #background(data-uk-parallax)
      audio#audio(autoplay='')
      input#steamInfoContainer(type='hidden', value='#{ steamID }')
      #header
      - if (typeof(steamID) === 'undefined' || steamID == null){
      #loader.cssload-loader
        #l1.cssload-inner.cssload-one
        #l1.cssload-inner.cssload-two
        #l1.cssload-inner.cssload-three
      #main1
        a#login1(href='auth/steam' data-uk-button)
          img#login2(src='/images/sits_large_border.png')
      -}else{
      #main
        a#logout.uk-button.uk-width-1-1.uk-border-rounded.main-buttons(href='logout') logout
        a#newroom.uk-button.uk-width-1-1.uk-border-rounded.main-buttons(onclick='newRoom()') New room
      -}
      #friends
      footer
        a.button(href='http://steampowered.com') Powered by Steam
  script(src='/js/client.js')
