body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}

#background {
  background-color: black;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  /*max-height: 100%;*/
  /*bottom: 0;*/
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  height: 120%;
  background-size: contain;
}

.main-buttons {
  margin-bottom: 2em !important;
}

.border {
  margin-bottom: 0.25em;
  border-radius: 2px;
  cursor: pointer;
}

#main {
  top:30%;
  left: 30%;
  max-width: 100%;
  margin: auto;
  width: 13%;
  overflow: auto;
  position: fixed;
}

#main1 {
  top:50%;
  left: 50%;
  max-width: 100%;
  margin: auto;
  margin-left: -56px;
  width: 50%;
  height: 50%;
  overflow: auto;
  position: fixed;
}

/*.uk-notify {
  border-radius: 2px !important;
}*/

#friends {
  color: rgb(201, 201, 201);
  top:30%;
  left: 70%;
  max-width: 100%;
  margin: auto;
  overflow: auto;
  position: fixed;
}

.friends-img {
  margin-left: 5em;
}

footer {
    clear: both;
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 20px;
    margin-top: -3em;
}




/* LOADING */
.cssload-loader {
	position: fixed;
  top: calc(50% - 16em);
	left: calc(50% - 17em);
	width: 35em;
	height: 35em;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 2400px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1s linear infinite;
		-o-animation: cssload-rotate-one 1s linear infinite;
		-ms-animation: cssload-rotate-one 1s linear infinite;
		-webkit-animation: cssload-rotate-one 1s linear infinite;
		-moz-animation: cssload-rotate-one 1s linear infinite;
	border-bottom: 9px solid rgba(0,0,0,1);
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1s linear infinite;
		-o-animation: cssload-rotate-two 1s linear infinite;
		-ms-animation: cssload-rotate-two 1s linear infinite;
		-webkit-animation: cssload-rotate-two 1s linear infinite;
		-moz-animation: cssload-rotate-two 1s linear infinite;
	border-right: 9px solid rgba(0,0,0,1);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1s linear infinite;
		-o-animation: cssload-rotate-three 1s linear infinite;
		-ms-animation: cssload-rotate-three 1s linear infinite;
		-webkit-animation: cssload-rotate-three 1s linear infinite;
		-moz-animation: cssload-rotate-three 1s linear infinite;
	border-top: 9px solid rgba(0,0,0,1);
}







@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}
